@font-face {
font-family: 'miFuente';
src: url(../fonts/Orenburg-Bold.ttf);
}
#fuente-personalisada{
	font-family: 'miFuente';
	font-size: 20px;
 color: #25bae2;
}
.icon-login{
  font-family: 'miFuente';
  font-size: 15px;
}
.gallery-item {
	font-family: 'miFuente';
  font-size: 10px;
}
#cssmenu{
	font-family: 'miFuente';
  font-size: -5px;

}
#letras_personal{
	font-family: 'miFuente';
	font-size: 1.5em;
	 color: #5e5e5e;
	 margin-top: 10px;
}
.icon_date {
  position: absolute;
  right: 15px;
  top: 40px;
  font-size: 15px;
  color: #6ecfff;
}
#todos-registros{
	font-family: 'miFuente';
	font-size: 2em;
	 color: #5e5e5e;
	 position: absolute;
	 right: 761px;
	 top: 10px;
}
