
/*footer {
  position: ;
  Width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color:#000;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 19px;
}
footer h7 {
  color: rgb(167, 167, 167);
}*/

/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width:98%;
  }
  section {
    width:68%;
  }
}

/* pantalla maximo 700px */
@media screen and (max-width:700px) {
  aside,section {
    float:none;
    width:96%;
    font-size:1.2em;
  }
  nav, section {
    font-size:1.2em;
  }
  aside {
    margin-top:5px;
	  background:#178be1;
  color: #333;
  }
  nav ul {
    float:none;
    clear:both;
  }
}


/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display:block;
    background:#a39b9b;
    color: #fff;
    font-size:1.5em;
  }
  nav, section {
    font-size:1.5em;
  }
  section {
    width:94%;
  }
  nav ul {
    display: table;
    text-align: center;
    float: none;
    width:100%;
  }
  nav ul li {
    float:none;
  }
}
